form(method="post" action="/register")
    table 
        tr
            td Username 
            td 
                input(type="text" name="username" required)
        tr 
            td Email 
            td 
                input(type="email" name="email" required)
        tr 
            td Password 
            td 
                input(type="password" name="password" required)
        tr 
            td Confirm Password 
            td 
                input(type="password" name="confirmPassword" required)    
        tr 
            td
            td
                input(type="submit" value="Register")